@import '../../../styles/base';

$bucket-width: 76px;

.bucket {
  border-left: solid 4px transparent;
  color: $white;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  height: $bucket-width;
  max-width: $bucket-width;
  opacity: .65;
  overflow: hidden;
  padding-right: 4px;
  position: relative;
  text-decoration: none;
  &:hover {
    background-color: $navy_2_dark_20;
    opacity: 1;
  }
  &:active {
    background-color: $navy_2_dark_40;
    opacity: 1;
  }
  &.current {
    border-left-color: $teal_1;
    opacity: 1;
  }
  &.open {
    background-color: $navy_2_dark_40;
    opacity: 1;
  }
  @include transition(all 0.2s);
  &:last-child {
    margin-bottom: 16px;
  }
}

.icon {
  display: block;
  height: 24px;
  margin: 16px auto 0;
  width: 24px;
}

.label {
  display: block;
  font-size: 11px;
  margin: 8px auto 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification {
  animation: pulse 1.5s;
  animation-iteration-count: infinite;
  background-color: $teal_1;
  border-radius: 100%;
  height: 8px;
  position: absolute;
  right: 4px;
  top: 8px;
  width: 8px;
}