@import '../../styles/base';

.notification {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  font-family: $font-stack;
  font-size: $notification-size;
  justify-content: space-between;
  letter-spacing: 0;
  line-height: 24px;
  padding: 12px 12px;
  vertical-align: middle;
}

.default {
  background-color: $n_grey_4;
  border-color: $n_grey_2;
  color: $navy_1;
}

.confirmation {
  background-color: $sp_green_light_80;
  border-color: $sp_green;
  color: $sp_green_dark_40;
}

.error {
  background-color: $sp_red_light_80;
  border-color: $sp_red;
  color: $sp_red_dark_40;
}

.confirmationIcon {
  background-color: $sp_green;
  border-radius: 16px;
  fill: $white;
  margin-right: 8px;
  padding: 4px;
  vertical-align: middle;
}

.warningIcon {
  background-color: $sp_yellow;
  border-radius: 16px;
  fill: $white;
  margin-right: 8px;
  padding: 4px;
  vertical-align: middle;
}

.errorIcon {
  background-color: $sp_red;
  border-radius: 16px;
  fill: $white;
  margin-right: 8px;
  padding: 4px;
  vertical-align: middle;
}

.message {
  display: inline;
  flex: 1;
  vertical-align: middle;
}

.closeIcon {
  cursor: pointer;
  margin-left: 8px;
  vertical-align: middle;
}

.warning {
  background-color: $sp_yellow_light_80;
  border-color: $sp_yellow;
  color: $sp_yellow_dark_40;
}
