@import '../../../styles/base';

.bar {
  background-color: $white;
  color: $grey_1;
  flex-grow: 0;
  font-family: $font-stack;
  padding: 0px 44px 2px 44px;
  @include breakpoint(small) {
    padding: 16px 16px 2px 16px;
  }
  box-sizing: border-box;
  border-bottom: 1px solid $grey_5
}

.loadingHeading {
  margin-bottom: 0px;
  margin-top: 24px;
  width: 180px;
}

.loadingLocation {
  height: 20px;
  width: 170px;
}

.items {
  display: flex;
  margin-top: 20px;
}

.item {
  color: $grey_2;
  cursor: pointer;
  padding: 0 24px 24px;
  text-decoration: none;
  user-select: none;
  @include breakpoint(small) {
    padding: 0 8px 8px;
  }
  &:first-child {
    padding-left: 0;
  }
  span {
    padding-bottom: 10px;
    border-bottom: solid 3px transparent;
  }
}

.selected {
  color: $grey_1;
  font-weight: bold;
  span {
    border-bottom-color: $teal;
  }
}

.top {
  justify-content: space-between;
  display: flex;
  @include breakpoint(small) {
    display: inline-block;
    width: 100%;
  }
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  min-height: 76px;
  .heading {
    color: $teal_dark_60;
    margin: 0px;
    font-weight: $regular;
    font-size: 20px;
    flex: 1 0;
  }
    .control {
      color: $grey_2;
      padding: 0 28px;
      @include breakpoint(small) {
        padding: 8px 0px 0px 0px;
      }
      &.selector {
        width: 270px;
      }
      &.logout {
      float:right;
        border-left: 1px solid $grey_4;
      @include breakpoint(small) {
        border-left: none;
      }
        height: 25px;
        display: flex;
        align-items: center;
        .navLink {
          color: $grey_2;
          text-decoration: none;
          .icon {
            margin-right: 8px;
            margin-bottom: -2px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
