@import '../../../styles/base';

.bar {
  background-color: $white;
  color: $grey_1;
  flex-grow: 0;
  font-family: $font-stack;
  padding: 0px 48px 2px 48px;
  box-sizing: border-box;
  border-bottom: 1px solid $grey_5
}

.heading {
  color: $teal_dark_60;
  margin-bottom: 0px;
  margin-top: 24px;
  min-width: 180px;
  font-weight: $regular;
  font-size: 20px;
}

.items {
  display: flex;
  margin-top: -4px;
}

.item {
  color: $grey_2;
  cursor: pointer;
  padding: 0 24px 24px;
  text-decoration: none;
  user-select: none;
  @include breakpoint(small) {
    padding: 0 8px 8px;
  }
  &:first-child {
    padding-left: 0;
  }
  span {
    padding-bottom: 10px;
    border-bottom: solid 3px transparent;
  }
}

.selected {
  color: $grey_1;
  font-weight: bold;
  span {
    border-bottom-color: $teal;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  .controls {
    display: flex;
    align-items: center;
    min-height: 76px;
    .control {
      color: $grey_2;
      display: inline-block;
      padding: 0 28px;
      &.selector {
        width: 270px;
      }
      &.logout {
        border-left: 1px solid $grey_4;
        height: 25px;
        display: flex;
        align-items: center;
        .navLink {
          color: $grey_2;
          text-decoration: none;
          .icon {
            margin-right: 8px;
            margin-bottom: -2px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
