@import '../../../styles/base';

.label {
  margin-bottom: 12px;
}

.outer {
  position: relative;
  margin-bottom: 12px; // Form auto spacing. Should split out into another componenet eventually.
  height: 48px;
  width: 280px;
  @include breakpoint(small) {
    width: 100%;
  }
  &.fill {
    width: 100%;
    margin-bottom: 0px;
  }
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: fit-content;
  .caret {
    margin-top: 4px;
  }
  &:hover {
    .caret {
      color: $teal;
    }
  }
  &.expanded {
    .caret {
      color: $teal;
      transform: rotate(180deg);
    }
  }
  width: 280px;
  @include breakpoint(small) {
    width: 100%;
  }
  &.fill {
    width: 100%;
  }
  &.error, &.error:active, &.error:hover, &.error:focus {
    &:not(.expanded) {
      .caret {
          color: $red;
      }
    }
  }
  .caret {
    color: $he_black;
    fill: currentColor;
    position: absolute;
    pointer-events: none;
    top: 5px;
    right: 8px;
    @include transition(all 0.2s);
  }

  &.disabled, &.disabled:hover {
    .caret {
      color: $grey_3;
    }
  }
  :global {
    // Style reset
    .Select-control, .Select-menu-outer {
      border: none;
    }
    .is-open {
      .Select-control {
        border-bottom: 1px solid $grey_5;
      }
    }
    .Select-clear-zone, .Select-arrow-zone {
      display: none;
    }
    .Select-menu-outer {
      position: static;
    }
    .Select-input {
      padding: 0px;
    }
    input[role=combobox] {
      padding: 0px;
    }
    // React-select custom styles
    .Select-control {
      padding: 0px 44px 0px 16px;
      position: relative;
    }
    .Select-menu-outer {
      max-height: 240px;
      overflow: scroll;
    }
    .Select-clear {
      float: right;
    }
    .Select-input {
      height: 46px;
    }
    .Select-option, .Select-noresults {
      color: $grey_1;
      padding: 11px 16px;
    }
    .Select-option.is-focused {
      background-color: $grey_7;
    }
    input[role=combobox] {
      font-size: 16px;
      color: $grey_1;
      border: 0 none;
      background: none;
      height: 48px;
      font-weight: $semi-bold;
      caret-color: $teal;
      &:focus {
        outline: none;
      }
    }
    .Select-value-label, .Select-placeholder {
      position: absolute;
      left: 16px;
      right: 44px;
      font-size: 16px;
      line-height: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $grey_1;
    }
    .Select-placeholder, .is-open .Select-value-label {
      color: $grey_3;
    }
  }
}

.select {
  font-family: $font-stack;
  background-color: $white;
  border: solid 1px $grey_5;
  border-radius: 4px;
  color: $grey_1;
  cursor: pointer;
  font-size: $input-size;
  font-weight: $regular;
  &:hover {
    border-color: $teal;
  }
  &.expanded {
    border-color: $teal;
    box-shadow: 0px 0px 10px rgba($teal, 15);
  }
  &.disabled {
    background-color: $grey_7;
    border-color: $grey_5;
    color: $grey_2;
    cursor: not-allowed;
    &:hover {
      border-color: $grey_5;
      color: $grey_2;
    }
  }

  @include transition(all 0.2s); // TODO Height transition

  &.error, &.error:active, &.error:hover, &.error:focus {
    &:not(.expanded) {
      background-color: $red_light_80;
      border-color: $red;
      color: $red;
      :global {
        .Select-placeholder {
          color: $red;
        }
      }
    }
  }
}

.errorMessage {
  margin-top: 12px;
  margin-bottom: 0;
}

// TODO inline style
