@import '../../../styles/base';

$bucket-width: 76px;
$slider-width: 264px;

.slider {
  background-color: $special_case_grey_dark_40;
  display: flex;
  filter: brightness(65%);
  flex-direction: column;
  height: 100%;
  left: -$slider-width + $bucket-width;
  position: absolute;
  width: $slider-width;
  z-index: -99;
  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      .filler {
        height: $i * $bucket-width;
      }
    }
  }
  &.bottom {
    .filler {
      height: 100%;
    }
  }
  @include transition(left 0.4s ease-in-out, filter 0.4s ease-out);
}

.bottom {
  .list {
    transform: translate(-40px, 20px) scale(0.6);
  }
}

.sitename {
  color: $white;
  margin: 0px 28px;
  line-height: 76px;
  border-bottom: 1px solid $grey_1;
}

.open {
  left: $bucket-width;
  filter: none;
  pointer-events: auto;
  z-index: -1;
  .list {
    opacity: 1;
    transform: none;
  }
  @include transition(left 0.4s ease-in-out);
}

.list {
  margin: 8px 16px 16px 24px;
  opacity: 0;
  transform: translate(-40px, -20px) scale(0.6);
  @include transition(opacity 0.3s 0.1s, transform 0.3s 0.1s);
}
