@import '../../../styles/base';

.outer {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spinner {
  animation: spin 1.5s infinite ease;
  height: 64px;
  margin: auto auto;
  width: 64px;
}

.fidget {
  animation: spin 0.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.highlight, .ring {
  fill: currentColor;
}

.teal {
  color: $teal;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.grey {
  color: $grey_4;
}

.red {
  color: $red;
}

.white {
  color: $white;
}
