@import '../../../styles/base';

.barOuter {
  background-color: $navy_2;
  font-family: $font-stack;
  height: fit-content;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -40px;
}

.barInner {
  margin: 0 auto;
  color: $white;
  height: 132px;
  position: relative;
  width: 1200px;
  @include breakpoint(large) { width: 960px; }
  @include breakpoint(medium) { width: 768px; }
  @include breakpoint(small) {
    margin-left: 12px;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
}

.heading {
  color: $white;
  margin-top: 52px;
  margin-bottom: 40px;
}

.arrow {
  fill: currentColor;
  float: left;
  height: 40px;
  margin: -5px 12px 0 0;
  width: 40px;
}

.contentPusher {
  height: 188px;
}