@import '../../../styles/_base.scss';

.outer {
  font-family: $font-stack;
  height: 20px;
  margin-bottom: 12px;
  user-select: none;

  &:not(.disabled) {
    label {
      &:hover {
        .text {
          font-weight: $semi-bold;
        }
        .checkbox {
          color: $teal;
          &.special {
            color: $green;
          }
        }
      }
    }
  }
}

.input {
  display: none;
}

.label {
  display: inline-flex;
  align-content: center;
  cursor: pointer;
  position: relative;
  &:before {
    content: none !important;
  }
}

.checkbox {
  fill: currentColor;
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}

.empty {
  color: $grey_4;
  &:hover {
    color: $teal;
    &.special {
      color: $green;
    }
  }
  @include transition(color 0.2s);
}

.full {
  color: $teal;
  opacity: 0;
  &.special {
    color: $green;
  }
  &.checked {
    opacity: 1;
  }
  @include transition(opacity 0.2s);
}

.text {
  color: $grey_1;
  font-size: $checkbox-size;
  font-weight: $regular;
  margin-top: 2px;
  padding-left: 30px;
  user-select: none;
}

.warning {
  color: $orange;
  fill: currentColor;
  height: 20px;
  padding-left: 10px;
  width: 20px;
}

.disabled {
  opacity: .6;
  .label {
    cursor: not-allowed;
  }
}