@import '../../../styles/_breakpoints.scss';
@import '../../../styles/_colours.scss';
@import '../../../styles/_font.scss';

.outer {
  width: 280px;
  @include breakpoint(small) {
    width: 100%;
  }
}

.input {
  display: none;
}

.checkbox {
  cursor: pointer;
  float: left;
}

.label {
  color: $navy_1;
  cursor: pointer;
  float: left;
  font-family: $font-stack;
  font-size: $checkbox-size;
  font-weight: $regular;
  user-select: none;
  padding-left: 10px;
  &:hover {
    color: $navy_2;
  }
}

.warning {
  float: left;
  padding-left: 10px;
}

.disabled {
  opacity: .6;

  .label {
    cursor: not-allowed;
  }
  .checkbox {
    cursor: not-allowed;
  }
}