@import '../../../styles/_breakpoints.scss';
@import '../../../styles/_colours.scss';
@import '../../../styles/_font.scss';

.outer {
  margin-bottom: 12px;
  &:not(.disabled) {
    label {
      &:hover {
        .text {
          color: $navy_2;
        }
        .checkbox {
          color: $teal_1;
          &.special {
            color: $sp_dark_green;
          }
        }
      }
    }
  }
}

.input {
  display: none;
}

.label {
  cursor: pointer;
  &:before {
    content: none;
  }
}

.checkbox {
  color: $n_grey_1;
  fill: currentColor;
  float: left;
  &:hover {
    color: $teal_1;
    &.special {
      color: $sp_dark_green;
    }
  }
}

.checked {
  color: $teal_1;
  &.special {
    color: $sp_dark_green;
  }
}

.text {
  color: $navy_1;
  float: left;
  font-family: $font-stack;
  font-size: $checkbox-size;
  font-weight: $regular;
  padding-left: 10px;
  user-select: none;
}

.warning {
  float: left;
  padding-left: 10px;
  color: $sp_orange;
  fill: currentColor;
}

.disabled {
  opacity: .6;
  .label {
    cursor: not-allowed;
  }
}