@import '../../../styles/base';

.buttonContainer {
  display: inline-flex;
  height: 48px;
  min-width: 180px;

  align-items: center;
  justify-content: center;

  &+.buttonContainer {
    margin-left: 24px;
  }

  @include breakpoint(small) {
    min-width: 0;
    width: 100%;
    &+.buttonContainer {
      margin-left: 0;
      margin-top: 16px;
    }
  }

  &.small {
    height: 30px;
    min-width: 100px;
    @include breakpoint(small) {
      min-width: 0;
    }
  }

  &.large {
    min-width: 280px;
    @include breakpoint(small) {
      min-width: 0;
    }
  }
}

.button {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-basis: 48px;
  white-space: nowrap;
  cursor: pointer;
  color: $white;
  padding: 0 36px;
  border: none;
  border-radius: 48px;
  text-align: left;
  position: relative;
  font-size: $input-size;
  font-family: $font-stack;
  outline: none;
  font-weight: $semi-bold;
  text-decoration: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  width: 100%;

  transition-property: flex-grow;
  transition-duration: 0.3s;

  @include ie {
    flex-basis: none;
  }

  &.submitting {
    flex-grow: 0.01; // working around a chrome bug
    padding: 0;
    pointer-events: none;
  }

  &.done {
    background-color: $green;
    pointer-events: none;
  }

  &:not(.disabled):not(.submitting):not(.done):hover {
    filter: brightness(92%);
  }
  &:not(.disabled):not(.submitting):not(.done):active {
    filter: brightness(84%);
  }
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.teal {
  background: $teal;
  &:active, &:hover, &:focus {
    background: $teal;
  }
}

.blue {
  background: $blue;
  &:active, &:hover, &:focus {
    background: $blue;
  }
}

.green {
  background: $green;
  &:active, &:hover, &:focus {
    background: $green;
  }
}

.red {
  background: $red;
  &:active, &:hover, &:focus {
    background: $red;
  }
}

.white {
  background: $white;
  color: $teal_dark_20;
  &:active, &:hover, &:focus {
    background: $white;
  }
}

.link {
  background: none;
  border: none;
  padding: 0;
  height: auto;
  &:active, &:hover, &:focus {
    background: none;
  }
}

.link, .keyline:not(:hover):not(:active) {
  border-width: 2px;

  &.teal {
    color: $teal;
    border-color: $teal;
  }

  &.blue {
    color: $blue;
    border-color: $blue;
  }

  &.green {
    color: $green;
    border-color: $green;
  }

  &.red {
    color: $red;
    border-color: $red;
  }

  &.white {
    color: $white;
    border-color: $white;
  }
}

.squared {
  border-radius: 2px;
}

.iconContainer {
  position: absolute;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  top: 50%;

  >* {
    width: 100%;
    height: 100%;
  }
}

.iconLeft {
  @extend .iconContainer;
  left: 12px;
}

.iconRight {
  @extend .iconContainer;
  right: 12px;
}

.iconCenter {
  @extend .iconContainer;
  left: 50%;
  margin-left: -12px;
}

.legacyIcon {
  fill: currentColor;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.keyline {
  &:not(:hover):not(:active) {
    border: solid 1px;
    background: none;
  }
}

.disabled {
  cursor: not-allowed;
  &:not(.link) {
    background: $grey_4 !important;
    &:active, &:hover, &:focus {
      background: $grey_4 !important;
    }
  }
  color: $white !important;
  border: none !important;
}
