@import '../../../styles/base';

.buttonContainer {
  display: flex;
  height: 48px;  
  width: 180px;
  margin: auto;

  align-items: center;
  justify-content: center;

  &.small {
    height: 30px;
    width: 100px;
  }
  
  &.large {
    width: 280px;
  }
}

.button {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-basis: 48px;  
  white-space: nowrap;
  cursor: pointer;
  color: $white;
  padding: 0 36px;
  border: none;
  border-radius: 48px;
  text-align: left;
  position: relative;
  font-size: $input-size;
  font-family: $font-stack;
  outline: none;
  font-weight: $semi-bold;
  user-select: none;
  align-items: center;
  justify-content: center;

  transition-property: flex-grow;
  transition-duration: 0.3s;

  &.submitting {
    flex-grow: 0.01; // working around a chrome bug
    padding: 0;
    pointer-events: none;
  }

  &:not(.disabled):not(.submitting):not(.done):hover {
    filter: brightness(92%);
  }
  &:not(.disabled):not(.submitting):not(.done):active {
    filter: brightness(84%);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.teal {
  background: $teal_1;
  &:active, &:hover, &:focus {
    background: $teal_1;
  }
}

.blue {
  background: $sp_blue;
  &:active, &:hover, &:focus {
    background: $sp_blue;
  }
}

.green {
  background: $sp_green;
  &:active, &:hover, &:focus {
    background: $sp_green;
  }
}

.red {
  background: $sp_red;
  &:active, &:hover, &:focus {
    background: $sp_red;
  }
}

.white {
  background: $white;
  color: $teal_2;
  &:active, &:hover, &:focus {
    background: $white;
  }
}

.done {
  @extend .green;
  pointer-events: none;
}

.keyline {
  &:not(:hover):not(:active) {
    border: solid 1px;
    background: none;
  }
}

.link {
  background: none;
  border: none;
  padding: 0;
  height: auto;
  &:active, &:hover, &:focus {
    background: none;
  }
}

.link, .keyline:not(:hover):not(:active) {
  border-width: 2px;

  &.teal {
    color: $teal_1;
    border-color: $teal_1;
  }

  &.blue {
    color: $sp_blue;
    border-color: $sp_blue;
  }

  &.green {
    color: $sp_green;
    border-color: $sp_green;
  }

  &.red {
    color: $sp_red;
    border-color: $sp_red;
  }

  &.white {
    color: $white;
    border-color: $white;
  }
}

.squared {
  border-radius: 2px;
}

.iconContainer {
  position: absolute;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  top: 50%;

  >* {
    width: 100%;
    height: 100%;
  }
}

.iconLeft {
  @extend .iconContainer;
  left: 12px;
}

.iconRight {
  @extend .iconContainer;
  right: 12px;
}

.iconCenter {
  @extend .iconContainer;
  left: 50%;
  margin-left: -12px;
}

.legacyIcon {
  fill: currentColor;
  height: 24px;
  margin-left: 12px;
  margin-right: -8px;
  width: 24px;
}

.disabled {
  cursor: not-allowed;
  &:not(.link) {
    background: $n_grey_1 !important;
    &:active, &:hover, &:focus {
      background: $n_grey_1 !important;
    }
  }
  color: $white !important;
  border: none !important;
}