@import '../../../styles/base';

.outer {
  background-color: $white;
  border-radius: 4px;
  display: flex;
  font-family: $font-stack;
  margin-bottom: 32px;
  padding: 38px;
  vertical-align: top;
  @include breakpoint(small) {
    display: block;
  }
}

.left {
  display: inline-block;
  margin-right: 48px;
  width: 312px;
  min-width: 312px;
  @include breakpoint(large) {
    width: 180px;
    min-width: 180px;
  }
  @include breakpoint(medium) {
    width: 180px;
    min-width: 180px;
  }
  @include breakpoint(small) {
    width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
  }
}

.right {
  display: inline-block;
  width: 100%;
}