@import '../../../../styles/base';
@import '../shared.module.scss';
.outer {
  font-family: $font-stack;
  margin-bottom: 12px;
  position: relative;
  user-select: none;
  width: 280px;
  @include breakpoint(small) {
    width: 100%;
  }
}

.inline {
  @include inline-block;
}

.inner {
  @extend .reactDatesWrapper;

  &:hover {
    .picker {
      border-color: $teal_dark_20;
      color: $he_black;
    }
    .icon {
      color: $teal_dark_20;
    }
  }
}

.icon {
  color: $grey_1;
  fill: currentColor;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 8px;
  @include transition(all 0.2s);
}

.focused {
  .inner,
  .inner:hover {
    .icon {
      color: $teal;
    }
  }
}

.disabled {
  .inner,
  .inner:hover {
    :global {
      .DateInput_input {
        background-color: $grey_7;
        border-color: $grey_5;
        cursor: not-allowed;
        color: $grey_2;
        &::placeholder {
          color: $grey_2;
        }
      }
    }
    .icon {
      color: $grey_3;
    }
  }
}

.error:not(.focused) {
  .inner,
  .inner:hover {
    :global {
      .DateInput_input {
        background-color: $red_light_80;
        border-color: $red;
        color: $red;
        &::placeholder {
          color: $red;
        }
        &:hover,
        &:focus {
          border-color: $red;
        }
      }
    }
    .icon {
      color: $red;
    }
  }
}

.large {
  .inner,
  .inner:hover {
    :global {
      .DateInput_input {
        height: 64px;
      }
      .DateInput_fang {
        margin-top: 10px;
      }
      .DayPicker__withBorder{
        margin-top: 9px;
      }
    }
    .icon {
      top: 16px;
    }
  }
  &:not(.noLabel) {
    .inner,
    .inner:hover {
      :global {
        .DateInput_input {
          padding: 30px 16px 10px;
        }
      }
    }
  }
}

.errorMessage {
  margin-top: 12px;
  margin-bottom: 0;
}

.innerlabel {
  left: 16px;
  position: absolute;
  font-size: 16px;
  top: 22px;
  
  transition: transform 250ms ease;
  transform: scale(1) translate(0px, 0px);
  transform-origin: left top 0px;
  pointer-events: none;
  user-select: none;
  color: $grey_2;
  z-index: 1;

  &.small {
    top: 16px;
  }

  &.floating {
      position: absolute;
      top: 32px;
      
      transform: scale(0.875) translate(0px, -25px);
      transform-origin: left top 0px;
      pointer-events: none;
      z-index: 2;

      &.small {
        top: 24px;
      }
  }
}
