@import '../../../styles/base';

.table {
  font-family: $font-stack;
  cursor: default;
  display: block;
  background-color: $white;
  margin-bottom: 48px;
  width: 100%;
  @include breakpoint(small) {
    overflow-x: auto;
  }
}

.header {
  display: flex;
  margin: 0 44px;
  @include breakpoint(small) {
    margin: 0 20px;
    min-width: 767px;
  }
}

.heading {
  align-items: center;
  color: $navy_2;
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  flex-grow: 1;
  font-weight: $semi-bold;
  min-height: 70px;
  overflow: hidden;
  padding-left: 24px;
  &:first-child {
    padding-left: 0;
  }
  &.sortable {
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $teal_1;
      filter: brightness(92%);
    }
    &:active {
      color: $teal_1;
      filter: brightness(84%);
    }
    &.ascending {
      .caret {
        transform: scaleY(-1);
      }
    }
  }
  .caret {
    flex-shrink: 0;
  }
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.body {
  display: block;
}

.cell {
  border-top: solid 1px $n_grey_2;
  color: $navy_1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex-basis: 0;
  flex-grow: 1;
  min-height: 70px;
  justify-content: center;
  padding-left: 24px;
  &:first-child {
    padding-left: 0;
  }
  transition: 0.5s ease all;
}

.row {
  display: flex;
  padding: 0 44px;
  &:hover {
    background-color: $n_grey_4;
    .cell {
      border-top-color: transparent;
    }
    + .row {
      .cell {
        border-top-color: transparent;
      }
    }
  }
  &.inactive {
    .cell {
      color: $navy_tint_2;
    }
  }
  transition: 0.5s ease all;
  @include breakpoint(small) {
    padding: 0 20px;
    min-width: 767px;
  }
}

.extraWide {
  flex-grow: 4;
}

.wide {
  flex-grow: 2;
}

.narrow {
  flex-grow: 0.5;
}

.extraNarrow {
  flex-grow: 0.25;
}

.bodyLoading {
  border-top: solid 1px $n_grey_2;
  height: 160px;
  margin: 0 44px;
  width: auto;
  @include breakpoint(small) {
    margin: 0 20px;
    width: 100%;
  }
}