@import '../../../../styles/_base.scss';

.option {
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
  &:hover {
    .empty {
      color: $teal;
    }
    .tag {
      font-weight: $semi-bold;
    }
  }
}

.tag+.child {
  margin-top: 12px;
}

.input {
  display: none;
}

.tag {
  color: $grey_1;
  cursor: pointer;
  font-size: $checkbox-size;
  padding-left: 32px;
  @include transition(all 0.2s ease);
}

.icon {
  fill: currentColor;
  height: 20px;
  position: absolute;
  left: 0;
  width: 20px;
  @include transition(all 0.2s ease);
}

.empty {
  color: $grey_4;
}

.full {
  color: $teal;
  opacity: 0;
}

.selected {
  .full {
    opacity: 1;
  }
}