@import '../../../styles/_base';

.outer {
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  height: 192px;
  justify-content: center;
  margin: 0 auto 24px;
  min-width: 33%;
  max-width: 216px;
  text-align: center;
  width: 100%;
}

.imageWrapper {
  display: block;
  margin: 0 auto 16px;
  max-height: 128px;
  max-width: 100%;
  width: 216px;
}

.image {
  display: block;
  height: auto;
  width: 216px;
  max-height: 128px;
  max-width: 100%;
  @include ie {
    margin: auto;
    height: auto;
    width: 120px;
  }
  object-fit: contain;
}

.name {
  color: $he_black;
  font-size: 16px;
}

.extra {
  color: $grey_1;
  font-size: 14px;
}
