@import '../../../styles/_base';

.outer {
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  height: 230px;
  justify-content: center;
  margin: 0 48px 24px;
  max-width: 216px;
  text-align: center;
  width: 100%;
}

.imageWrapper {
  display: block;
  margin-bottom: 16px;
  max-height: 128px;
  width: 216px;
}

.image {
  display: block;
  height: auto;
  max-height: 128px;
  width: 216px;
  object-fit: contain;
}

.name {
  color: $he_black;
  font-size: 16px;
}

.extra {
  color: $grey_1;
  font-size: 14px;
}
