@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://d2g92a8pyizotc.cloudfront.net/public/fonts/MessinaSansWeb/MessinaSansWeb.css');

//font family
$font-stack: 'Arial', 'MessinaSansWeb', sans-serif;

//font-weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

//font-sizes
$input-size: 16px;
$label-size: 16px;
$notification-size: 14px;
$checkbox-size: 14px;
