@import '../../../styles/_base.scss';

.outer {
    font-family: $font-stack;
    display: inline-block;
    position: relative;
    background-color: transparent;
    cursor: auto;
    color: $he_black;
    margin-bottom: 12px;
    user-select: none;
    width: 280px;
    @include breakpoint(small) {
        width: 100%;
    }
}

.inline {
  @include inline-block;
}

.label {
    left: 16px;
    position: absolute;
    font-size: 16px;
    top: 22px;
    
    transition: transform 250ms ease;
    transform: scale(1) translate(0px, 0px);
    transform-origin: left top 0px;
    pointer-events: none;
    user-select: none;
    color: $grey_2;
    user-select: none;

    &.small {
      top: 16px;
    }

    &.floating {
        position: absolute;
        top: 32px;
        
        transform: scale(0.875) translate(0px, -25px);
        transform-origin: left top 0px;
        pointer-events: none;

        &.small {
          top: 24px;
        }
    }
}

.input {
    border: 1px solid $grey_5;
    border-radius: 5px;
    color: $he_black;
    height: 64px;
    position: relative;
    width: 100%;
    outline: none;
    background-color: $white;
    padding: 30px 16px 10px;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    box-sizing: border-box;
    margin-top: 0px;
    font-size: $input-size;
    &:hover {
        border-color: $teal;
    }

    &.noLabel {
      padding: 20px 16px 20px;
    }

    &.small {
      height: 48px;
      padding: 24px 16px 8px;

      &.noLabel {
        padding: 8px 16px 8px;
      }
    }
}

.hasMarker {
    .input {
        margin-right: 40px;
    }
}

.disabled {
    .label {
        color: $grey_3;
    }
    .input {
        background-color: $grey_7;
        border-color: $grey_5;
        cursor: not-allowed;
        .label {
            color: $grey_3;
        }
    }
    .description {
        color: $grey_3;
    }
}


.focused {
    .input {
        border-color: $teal;
    }
    .label {
        color: $teal;
    }
    .marker {
        color: $green;
    }
}

.invalid {
    .input {
        background-color: $red_light_80;
        border-color: $red;
    }
    .label {
        color: $red;
    }
    .description {
        color: $red;
    }
    .marker {
        color: $red;
    }
}

.marker {
    color: $grey_3;
    fill: currentColor;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 16px;
}
.helper{
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 2;
}
.helperIcon {
    color: $grey_3;
    fill: currentColor;
    cursor: pointer;
}
.description {
    color: $grey_2;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding-top: 8px;
    user-select: none;
}

.verifiedTag {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 5.813em;
    height: 1.875em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid $teal;
    cursor: pointer;
}
.verified {
    background-color: $green;
    border-color: $green;
    color: $white;
    &:hover{
        background: darken($green, 5);
    }
}
.unVerified {
    background-color: $white;
    color: $teal;
    &:hover{
        background: darken($white, 5);
    }
}