@import '../../styles/base';

.icon {
  fill: currentColor;
  height: 32px;
  width: 32px;
}

.teal {
  border-color: $teal;
  color: $teal;
}

.blue {
  border-color: $blue;
  color: $blue;
}

.green {
  border-color: $green;
  color: $green;
}

.red {
  border-color: $red;
  color: $red;
}

.white {
  border-color: $white;
  color: $white;
}

.shadow {
  filter: drop-shadow( 0 2px 2px rgba(0, 0, 0, 0.25) );
}
