@import '../../../styles/base';

.heading {
  color: $grey_4;
  display: block;
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: bold;
}

.item {
  border-radius: 4px;
  color: $white;
  display: block;
  font-size: 13px;
  padding: 10px;
  text-decoration: none;
  &:hover {
    background-color: $he_black;
  }
  &:active {
    background-color: $teal;
  }
  &.current {
    background-color: $teal;
  }
  @include transition(all 0.2s);
}


.badge {
  border-radius: 4px;
  display: block;
  float: right;
  font-size: 11px;
  margin-top: -2px;
  padding: 4px;
  width: fit-content;
}

.notification {
  background-color: $red;
  border-radius: 13px;
  min-width: 14px;
  text-align: center;
}

.new {
  background-color: $green;
}

.free {
  background-color: $orange;
}
