@import '../../../../styles/base';
@import '../shared.module.scss';

.outer {
  font-family: $font-stack;
  position: relative;
  user-select: none;
}

.inner {
  @extend .reactDatesWrapper;
  
  :global {
    .DateRangePicker {
      margin-top: -11px;
      position: absolute;
    }

    .DayPicker__withBorder {
      box-shadow: 0 0 4px rgba(0, 0, 0, .2);
      border: solid 1px $teal;
      border-radius: 0px 4px 4px 4px;
    }
 
    .DateInput,
    .DateRangePickerInput,
    .DateRangePickerInput_arrow,
    .DayPickerKeyboardShortcuts_show {
      display: none;
    }
  }
}