@import '../../../styles/base';

.outer {
    font-family: $font-stack;
    margin-bottom: 12px;
    position: relative;
    user-select: none;
    width: 280px;
    @include breakpoint(small) {
        width: 100%;
    }
}

.inner {
    position: relative;
    width: 100%;
    &:hover {
        .picker {
            border-color: $teal_2;
            color: $navy_2;
        }
        .icon {
            color: $navy_2;
        }
    }
}

.picker {
    background-color: $white;
    border: solid 1px $n_grey_2;
    border-radius: 2px;
    box-sizing: border-box;
    color: $navy_1;
    cursor: pointer;
    font-size: $input-size;
    font-weight: $regular;
    outline: none;
    margin-bottom: 12px;
    padding: 12px;
    padding-right: 42px;
    position: relative;
    width: 100%;
    @include transition(all 0.2s);
}

.icon {
    color: $navy_1;
    fill: currentColor;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 6px;
    @include transition(all 0.2s);
}

.disabled {
    .inner, .inner:hover {
        .picker {
            border-color: $n_grey_2;
            cursor: not-allowed;
            color: $navy_tint_1;
        }
        .icon {
            color: $navy_tint_1;
        }
    }
}

.error {
    .inner, .inner:hover {
        .picker {
            background-color: $sp_light_red;
            border-color: $sp_red;
            color: $sp_red;
            &:hover, &:focus {
                border-color: $sp_red;
            }
        }
        .icon {
            color: $sp_red;
        }
    }
}

.errorMessage {
    margin-top: 12px;
    margin-bottom: 0;
}


.calendar {
    background: $sp_pink;

}
