@import '../../../styles/base';

$bucket-width: 76px;
$bucket-small-width: 48px;
$slider-width: 264px;

.nav {
  font-family: $font-stack;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  user-select: none;
  z-index: 99;
}

.buckets {
  background-color: $grey_1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  height: 100%;
  width: $bucket-width;
  z-index: 1;
  @include breakpoint(small) {
    width: $bucket-small-width;
  }
  @include transition(all 0.6s);
}

.logoBucket {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: $bucket-width;
  justify-content: center;
  max-width: $bucket-width;
  text-align: center;
  &:hover {
    background-color: $special_case_grey_dark_20;
  }
  &:active {
    background-color: $special_case_grey_dark_40;
  }
  @include transition(all 0.2s);
  @include breakpoint(small) {
    height: $bucket-small-width;
    max-width: $bucket-small-width;
  }
}

.logo {
  height: 40px;
  width: 40px;
  @include breakpoint(small) {
    height: 32px;
    width: 32px;
  }
}

.bucketFiller {
  flex-grow: 1;
}

.sliders {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: relative;
}

.outer {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.spacer {
  flex: 0 0 $bucket-width;
  content: ' ';
  @include breakpoint(small) {
    flex-basis: $bucket-small-width;
  }
  @include transition(all 0.6s);
}

.content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  overflow-x: hidden;
}

.loadingBucket {
  border-radius: 100%;
  flex-shrink: 0;
  height: 40px;
  margin: auto;
  margin-bottom: $bucket-width - 60;
  margin-top: $bucket-width - 60;
  opacity: 0.35;
  width: 40px;
  &:last-child {
    margin-bottom: $bucket-width - 44;
  }
  @include breakpoint(small) {
    margin-bottom: $bucket-small-width - 41;
    margin-top: $bucket-small-width - 41;
    height: 32px;
    width: 32px;
    &:last-child {
      margin-bottom: $bucket-small-width - 22;
    }
  }
}

.children {
  background-color: $grey_7;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
