@import '../../../styles/base';

$bucket-width: 76px;
$slider-width: 264px;

.nav {
  font-family: $font-stack;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  user-select: none;
  z-index: 99;
}

.buckets {
  background-color: $navy_1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  height: 100%;
  width: $bucket-width;
  z-index: 1;
}

.logoBucket {
  cursor: pointer;
  flex-shrink: 0;
  height: $bucket-width;
  max-width: $bucket-width;
  text-align: center;
  &:hover {
    background-color: $navy_2_dark_20;
  }
  &:active {
    background-color: $navy_2_dark_40;
  }
  @include transition(all 0.2s);
}

.logo {
  height: 40px;
  width: 40px;
  margin: 18px auto;
}

.bucketFiller {
  flex-grow: 1;
}

.bucket {
  border-left: solid 4px transparent;
  color: $white;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  height: $bucket-width;
  max-width: $bucket-width;
  opacity: .65;
  overflow: hidden;
  padding-right: 4px;
  position: relative;
  text-decoration: none;
  &:hover {
    background-color: $navy_2_dark_20;
    opacity: 1;
  }
  &:active {
    background-color: $navy_2_dark_40;
    opacity: 1;
  }
  &.bucketCurrent {
    border-left-color: $teal_1;
    opacity: 1;
  }
  &.bucketOpen {
    background-color: $navy_2_dark_40;
    opacity: 1;
  }
  @include transition(all 0.2s);
  &:last-child {
    margin-bottom: 16px;
  }
}

.bucketIcon {
  display: block;
  height: 24px;
  margin: 16px auto 0;
  width: 24px;
}

.bucketLabel {
  display: block;
  font-size: 11px;
  margin: 8px auto 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bucketNotification {
  animation: pulse 1.5s;
  animation-iteration-count: infinite;
  background-color: $teal_1;
  border-radius: 100%;
  height: 8px;
  position: absolute;
  right: 4px;
  top: 8px;
  width: 8px;
}

.sliders {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: relative;
}

.slider {
  background-color: $navy_2_dark_40;
  display: flex;
  filter: brightness(65%);
  flex-direction: column;
  height: 100%;
  left: -$slider-width + $bucket-width;
  position: absolute;
  width: $slider-width;
  z-index: -99;
  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      .sliderFiller {
        height: $i * $bucket-width;
      }
    }
  }
  &.bottomSlider {
    .sliderFiller {
      height: 100%;
    }
  }
  &.sliderOpen {
    left: $bucket-width;
    filter: none;
    pointer-events: auto;
    z-index: -1;
    .list {
      opacity: 1;
      transform: none;
    }
    @include transition(left 0.4s ease-in-out);
  }
  @include transition(left 0.4s ease-in-out, filter 0.4s ease-out);
}

.list {
  margin: 8px 16px 16px 24px;
  opacity: 0;
  transform: translate(-40px, -20px) scale(0.6);
  @include transition(opacity 0.3s 0.1s, transform 0.3s 0.1s);
}

.bottomSlider {
  .list {
    transform: translate(-40px, 20px) scale(0.6);
  }
}

.listHeading {
  color: $n_grey_1;
  display: block;
  font-size: 15px;
  margin-bottom: 16px;
}

.listItem {
  border-radius: 4px;
  color: $white;
  display: block;
  font-size: 13px;
  padding: 10px;
  text-decoration: none;
  &:hover {
    background-color: $navy_2;
  }
  &:active {
    background-color: $teal_1;
  }
  &.listCurrent {
    background-color: $teal_1;
  }
  @include transition(all 0.2s);
}

.badge {
  border-radius: 4px;
  display: block;
  float: right;
  font-size: 11px;
  margin-top: -2px;
  padding: 4px;
  width: fit-content;
}

.badgeNotification {
  background-color: $sp_red;
  border-radius: 13px;
  min-width: 13px;
}

.badgeNew {
  background-color: $sp_dark_green;
}

.badgeFree {
  background-color: $sp_orange;
}

.external {
  color: $sp_yellow;
}

@keyframes pulse {
  0% {
    opacity: .5;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

.outer {
  display: flex;
}

.spacer {
  width: $bucket-width;
  height: 100%;
  content: ' ';
}

.content {
  flex-grow: 1;
}