@import '../../../styles/base';

$bucket-width: 76px;
$slider-width: 264px;

.nav {
  font-family: $font-stack;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  user-select: none;
  z-index: 99;
}

.buckets {
  background-color: $grey_1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  height: 100%;
  width: $bucket-width;
  z-index: 1;
}

.logoBucket {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: $bucket-width;
  justify-content: center;
  max-width: $bucket-width;
  text-align: center;
  &:hover {
    background-color: $teal_dark_60;
  }
  &:active {
    background-color: $blue_dark_60;
  }
  @include transition(all 0.2s);
}

.logo {
  height: 40px;
  width: 40px;
}

.bucketFiller {
  flex-grow: 1;
}

.sliders {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: relative;
}
@keyframes pulse {
  0% {
    opacity: .5;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

.outer {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.spacer {
  flex: 0 0 $bucket-width;
  content: ' ';
}

.content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
}

.loadingBucket {
  border-radius: 100%;
  height: 40px;
  margin: $bucket-width - 60;
  opacity: 0.25;
  width: 40px;
  &.bottom {
    bottom: 16px;
    position: absolute;
  }
}

.children {
  background-color: $n_grey_3;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}