@import '../../../styles/base';

.heading {
  color: $navy_2;
  display: block;
  font-family: $font-stack;
  font-weight: $regular;
  margin-top: 0;
}

h1 {
  font-size: 26px;
  margin-bottom: 40px;
  &.nav {
    color: $white;
    margin-top: 52px;
    margin-bottom: 40px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 38px;
  @include breakpoint(small) {
    margin-left: 12px;
  }
}

h3 {
  font-size: 22px;
  margin-bottom: 16px;
}

h4 {
  font-size: 18px;
  margin-bottom: 12px;
}
