@import '../../../styles/base';

.bar {
  background-color: $white;
  font-family: $font-stack;
  color: $navy_1;
  padding: 20px 48px;
  width: 100%;
}

.heading {
  color: $teal_dark_60;
}

.items { 
  margin-top: 32px;
  display: flex;
}

.item {
  color: $navy_tint_1;
  cursor: pointer;
  padding: 0 24px 24px;
  text-decoration: none;
  user-select: none;
  @include breakpoint(small) {
    padding: 0 8px 8px;
  }
  &:first-child {
    padding-left: 0;
  }
  span {
    padding-bottom: 16px;
    border-bottom: solid 6px transparent;
  }
}

.selected {
  color: $grey_1;
  font-weight: bold;
  span {
    border-bottom-color: $teal_1;
  }
}