@import '../../../styles/_breakpoints.scss';
@import '../../../styles/_colours.scss';
@import '../../../styles/_font.scss';

.label {
  color: $navy_2;
  font-family: $font-stack;
  font-size: $label-size;
  font-weight: $regular;
  margin-bottom: 12px;
  
  label {
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
  }
}

.error {
  color: $sp_red;
}

.icon {
  float: left;
  margin-right: 8px;
  margin-top: 0;
  pointer-events: none;
}

.loading {
  height: $label-size;
  max-width: 160px;
}