@import '../../../styles/_breakpoints.scss';
@import '../../../styles/_colours.scss';
@import '../../../styles/_font.scss';

.label {
  color: $navy_1;
  font-family: $font-stack;
  font-size: $label-size;
  font-weight: $semi-bold;

  label {
    cursor: pointer;
    user-select: none;
  }
}

.error {
  color: $sp_red;
  font-weight: $regular;
}

.icon {
  float: left;
  margin-right: 8px;
  margin-top: 0;
  pointer-events: none;
}