@import '../../../styles/_base.scss';

.outer {
  font-family: $font-stack;
  padding-bottom: 12px;
  position: relative;
  user-select: none;
  width: 280px;
  @include breakpoint(small) {
    width: 100%;
  }
}

.inline {
  @include inline-block;
}

.label {
  margin-bottom: 12px;
}

.error {
  margin-top: 12px;
  margin-bottom: 0;
}

.options {
  margin-bottom: 12px;
}

