@import '../../../styles/_base.scss';

.outer {
  font-family: $font-stack;
  padding-bottom: 12px;
  position: relative;
  user-select: none;
  width: 280px;
  @include breakpoint(small) {
    width: 100%;
  }
}

.inline {
  @include inline-block;
}

.label {
  margin-bottom: 12px;
}

.error {
  margin-top: 12px;
  margin-bottom: 0;
}

.options {
  margin-bottom: 12px;
}

.option {
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
  width: 100%;
  &:hover {
    .empty {
      color: $teal_1;
    }
    .tag {
      color: $navy_2;
    }
  }
}

.tag + .child {
  margin-top: 12px;
}

.input {
  display: none;
}

.tag {
  color: $navy_1;
  cursor: pointer;
  font-size: $checkbox-size;
  padding-left: 32px;
  @include transition(all 0.2s ease);
}

.icon {
  fill: currentColor;
  height: 20px;
  position: absolute;
  left: 0;
  width: 20px;
  @include transition(all 0.2s ease);
}

.empty {
  color: $n_grey_1;
}

.full {
  color: $teal_1;
  opacity: 0;
}

.selected {
  .full {
    opacity: 1;
  }
}