@import '../../../styles/_base.scss';


.outer {
  font-family: $font-stack;
  padding-bottom: 12px;
  position: relative;
  user-select: none;
  width: 280px;
  @include breakpoint(small) {
    width: 100%;
  }
}

.inline {
  @include inline-block
}

.label {
  margin-bottom: 12px;
}

.input {
  display: none;
}

.select {
  background-color: $white;
  border: solid 1px $grey_5;
  border-radius: 4px;
  color: $grey_1;
  cursor: pointer;
  font-size: $input-size;
  font-weight: $regular;
  position: relative;
  height: 46px;
  &:hover {
    border-color: $teal_dark_20;
    color: $he_black;
    .clock {
      color: $teal_dark_20;
    }
  }
  span {
    display: block;
    padding: 12px;
    padding-right: 42px;
    user-select: none;
  }
  @include transition(all 0.2s);
}

.expanded {
  .select {
    border-radius: 4px 4px 0 0;
    color: $he_black;
    &:hover {
      border-color: $grey_5;
    }
    .clock {
      color: $teal;
    }
  }
  .options {
    border-radius: 0 0 4px 4px;
    opacity: 1;
    pointer-events: auto;
    ul {
      max-height: 240px;
    }
  }
}

.clock {
  color: $grey_1;
  fill: currentColor;
  height: 32px;
  position: absolute;
  pointer-events: none;
  right: 7px;
  top: 7px;
  width: 32px;
  @include transition(all 0.2s);
}

.noValue {
  color: $grey_2;
}

.disabled {
  background-color: $grey_7;
  border-color: $grey_5;
  cursor: not-allowed;
  color: $grey_2;
  .clock {
    color: $grey_3;
  }
  &:hover {
    background-color: $grey_7;
    border-color: $grey_5;
    cursor: not-allowed;
    color: $grey_2;
    .clock {
      color: $grey_3;
    }
  }
}

.outer:not(.expanded) {
  .error {
    color: $red;
    border-color: $red;
    background-color: $red_light_80;
    .clock {
      color: $red;
    }
  }
}

.errorMessage {
  margin-top: 12px;
  margin-bottom: 0;
}

.options {
  background-color: $white;
  border: solid 1px $grey_5;
  border-radius: 2px;
  box-shadow: 0 2px 12px $grey_4;
  cursor: pointer;
  font-size: $input-size;
  font-weight: $regular;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    display: inline-block;
    overflow-y: auto;
    max-height: 0;
    @include transition(max-height 0.2s);
  }
  overflow-y: hidden;
  opacity: 0;
  position: absolute;
  top: 46px;
  left: -1px;
  pointer-events: none;
  width: 100%;
  z-index: 1;
  @include transition(opacity 0.2s);
}

.hourly {
  .options {
    ul {
      width: 100%;
    }
  }
}

.option {
  color: $grey_1;
  padding: 12px;
  user-select: none;
  &:hover {
    background-color: $grey_7;
    color: $he_black;
  }
  @include transition(all 0.2s);
}

.selected {
  background-color: $teal_light_80;
}
