@import '../../../styles/_base';

.outer {
  background: url('../assets/WhiteBackground.svg') no-repeat center center;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  margin: -96px auto 0;
  min-height: 200px;
  padding-bottom: 96px;
  text-align: center;
  width: 100%;
}

.description {
  color: $grey_1;
  font-size: 18px;
  margin: auto;
  max-width: 720px;
  padding: 0 20px;

  p {
    margin-top: 16px;
  }

  em {
    color: $teal;
    font-style: normal;
  }
}

.imageWrapper {
  display: block;
  margin: -48px auto 48px;
}

.image {
  display: block;
  max-width: 512px;
  max-height: 320px;
  width: 100%;
  object-fit: contain;
}


.youtube {

}
